body, button {
    background-color: #FFFFFF;
    color: #1f2232;
    font-family: 'Avenir Light', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

main {
    margin: 40px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.skip {
    position: absolute;
    top: -40px;
    line-height: 30px;
}

.skip:focus {
    position: static;
    top: 10px;
    z-index: 200;
    margin: auto;
}

.nav_links {
    display: flex;
    justify-content: space-around;
}

.nav_links li {
    color: #1f2232;
    list-style: none;
    padding: 0 10px;
    margin: 10px 0;
}

.nav_links li:hover {
    color: #397367;
    font-weight: bold;
}

#home {
    color: #397367;
    font-weight: bold;
}

#home:hover {
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
}

body>header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0 2px 10px -1px #bebebe;
}

h1 {
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    font-family: serif;
    margin: 40px;
}

h1+p {
    font-size: 14px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    margin: 40px;
}

h3 {
    font-size: 20px;
    color: #397367;
    font-weight: bolder;
    text-align: center;
    line-height: 1.5;
}

h4 {
    font-size: 14px;
    color: #397367;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px;
}

.project p {
    margin: 20px;
}

.project ul {
    margin: 0 40px;
    list-style: square;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin: 10px;
    justify-content: center;
    justify-items: center;
}

.project {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 1px 1px 8px #A8CCC9;
}

.project img {
    display: block;
    margin: auto;
    width: 80%;
}

.project iframe {
    margin: auto;
    display: block;
}

.project a, .project button {
    background-color: #A8CCC9;
    color: #1f2232;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.project a:hover, .project button:hover {
    background-color: #1f2232;
    color: #A8CCC9;
}

.project div:last-child {
    margin: 20px 10px;
    text-align: right;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: -3%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 40px 20px;
    width: 90%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#contact {
    text-align: center;
}

#contact img {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 10px;
}

footer {
    text-align: center;
    margin: 50px;
}

@media screen and (min-width: 800px) {
    body, button {
        font-size: 18px;
        line-height: 2;
    }
    
    .nav_links {
        justify-content: flex-end;
        margin-right: 20px;
    }

    .nav_links li {
        margin: 10px 20px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 80px;
        margin: 20px;
    }

    #about+p {
        text-align: center;
    }

    #home {
        flex: 1;
        margin-left: 20px;
    }

    h1 {
        font-size: 50px;
    }
    
    h1+p {
        font-size: 24px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 26px;
    }
    
    h4 {
        font-size: 16px;
    }

    #contact img {
        width: 40px;
        height: 40px;
    }
}